.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
 box-sizing: border-box;
}

.gallery-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;

}

/* Стилі для модального вікна */

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.05s ease; /* анімація для плавної зміни прозорості */
    opacity: 0; /* початкова прозорість 0 (невидиме) */
    z-index: 1000;
}

.modal.is-open {
    display: flex; /* відображаємо модальне вікно, коли клас 'is-open' додано */
    opacity: 1; /* встановлюємо прозорість 1 (видиме) */
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* анімація для масштабу та прозорості */
    transform: scale(0.9); /* початкове масштабування */
    opacity: 0; /* початкова прозорість зображення */
}
.modal.is-open .modal-image {
    transform: scale(1); /* кінцеве масштабування */
    opacity: 1; /* кінцева прозорість зображення */
    }


.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}